<h1>{{page.name}}</h1>


{{#each cont in conts}}
  <div {{action "edit" target="cont"}} class="cont" {{bindAttr data-type="cont.type"}}>
    {{#if cont.isEditable}}
      input
    {{else}}
      {{cont.cont}}
    {{/if}}
  </div>
{{/each}}

<a {{action "add"}} href='location.void(0)'>[+ add content]</a>